<footer class="footer container">
  <small>
    Redmart App made by <a href="https://sg.linkedin.com/in/anupama-dhir-0200153">Anupama Dhir</a>
  </small>
  <nav>
    <ul>
      <!-- <li><%#= link_to "About",   about_path %></li> -->
    </ul>
  </nav>
</footer>
